<h3>Einkaufswagen</h3>



<div class="cart-item" *ngFor="let item of items; index as orderId">
  <p>{{ item.name }}</p>
  <p>{{ item.price | currency }}</p>
  <p class="klick" (click)="clearArticle(orderId)">[x]</p>  
</div>
<div *ngIf="items != 0">
  <div class="cart-item" style="font-weight:bold" *ngFor="let item of items; index as orderId">
    <p>Preis Gesamt</p>
    <p>{{ totalprice | currency }}</p>
    <p>&nbsp;</p>  
  </div>
  <form [formGroup]="checkoutForms" (ngSubmit)="onSubmit(checkoutForms.value)">
    <div> 
      <label for="name"> <!-- label auch für Barrierefreiheit/Reader-->
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="adress">
        Anschrift
      </label>
        <input id="adress" type="text" formControlName="adress">   
    </div>

    <button class="button" type="submit">Bestellung verbindlich abgeben</button>
  </form>
</div>

<div *ngIf="thx">
  <h4>Vielen Dank für Ihre Bestellung!<span>Sie erhalten Ihren Artikel in kürze</span></h4>    
</div>

<a [routerLink]="['/shipping']">Versandkosten</a>
<a [routerLink]="['/']">Zurück zu den Artikeln</a>
<a *ngIf="items != 0" type="button" (click)="clearList()">Bestellliste löschen</a>